@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	@apply relative;
}

html,
body,
main {
	@apply bg-base-300 m-0 h-full w-full overflow-hidden p-0;
}

#launching-status {
	@apply absolute top-0 left-0 flex h-full w-full animate-pulse flex-col items-center justify-center text-2xl;
}

.vjs-button > .vjs-icon-placeholder:before {
	@apply relative;
}

video:focus {
	@apply outline-none;
}

*::-webkit-scrollbar {
	display: none;
}

.draggable {
	-webkit-user-select: none;
	-webkit-app-region: drag;
}

.none-draggable {
	-webkit-app-region: no-drag;
}
